@import "bootstrap"

body
    background-color: $light
    min-width: 800px

#firebaseui
    width: 200pt
    margin: 120pt auto 60pt auto
    border: 2pt solid $orange
    background-color: $white
    border-radius: 5pt

.userBtn
    float: right

.orders
    float: right

#root
    height: 100vh

#ctxmenu 
    border: 1pt outset $dark
    position: absolute
    background: $white
    border-radius: 2pt
    z-index: 500
    margin: 0

#ctxmenu > ul
    cursor: pointer
    list-style: none
    padding: 0
    margin: 0

#ctxmenu > ul > li
    border-bottom: 1pt outset $dark
    padding: 0pt 3pt

#ctxmenu > ul > li:hover
    font-weight: bold
    background: $primary
    color: $white

#ctxmenu > ul > li:last-child
    border: none

.basic_header
    padding: 0.5rem 0.75rem !important
    vertical-align: middle !important
    text-align: center

.abtn
    margin: 0
    border: 0