@import "bootstrap"

#root
    overflow: hidden
    height: 100vh

body
    background-color: $light
    min-width: 800px

#firebaseui
    width: 200pt
    margin: 120pt auto 60pt auto
    border: 2pt solid $orange
    background-color: $white
    border-radius: 5pt

.right
    float: right

#ctxmenu 
    display: block
    overflow: hidden
    border: 1pt outset $dark
    position: absolute
    background: $white
    border-radius: 5pt
    z-index: 500
    padding: 0
    margin: 0

#ctxmenu > button:active
    background-color: $light

#ctxmenu > button:hover
    font-weight: bold
    color: $teal

#ctxmenu > button:hover:last-child
    color: $danger

#ctxmenu > button
    border-bottom: 1pt outset $dark

#ctxmenu > button:last-child
    border: none

.basic_header
    padding: 0.5rem 0.75rem !important
    vertical-align: middle !important
    text-align: center

.abtn
    margin: 0
    border: 0

#version
    color: $secondary
    font-style: italic
    position: absolute
    bottom: 0pt
    right: 4pt

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button
input::-webkit-inner-spin-button 
  -webkit-appearance: none
  margin: 0

/* Firefox */
input[type=number] 
  -moz-appearance: textfield

#user-menu
    border-radius: 5pt
    display: block
    padding: 0
    margin: 0

#user-menu > button:active
    background-color: $light

.dropdown > button:focus
    box-shadow: none