@import "bootstrap"

body
    background-color: $light
    min-width: 800px

#firebaseui
    width: 200pt
    margin: 120pt auto 60pt auto
    border: 2pt solid $orange
    background-color: $white
    border-radius: 5pt

.userBtn
    float: right